.footer {
  background-color: #0B0B0B;
}
.footer-container {
  width: 1432px;
  margin: 0 auto;
  padding: 100px 0 60px 0;
}
@media (max-width: 1918px) {
  .footer-container{
    width: 1200px;
    padding: 100px 40px 40px 40px;
  }
}
@media (max-width: 1200px) {
  .footer-container{
    width: 640px;
    padding: 80px 0 20px 0;
  }
}
@media (max-width: 640px) {
  .footer-container{
    width: 300px;
    padding: 60px 0 20px 0;
    margin: 0 auto;
  }
}
.footer-main {
  display: flex;
  justify-content: space-between;
  width: 1457px;
  height: 384px;
  margin-bottom: 150px;
}
@media (max-width: 1918px) {
  .footer-main {    
    width: 1098px;
    height: 384px;
    margin-bottom: 133px;
  }
}
@media (max-width: 1200px) {
  .footer-main {    
    width: 600px;
    height: 500px;
    margin-bottom: 61px;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .footer-main {    
    width: 300px;
    height: 605px;
    margin-bottom: 36px;
    flex-direction: row;
  }
}
  

.footer-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #BCBCBC;
  border-top: 1px solid #747474;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  .footer-bottom {
    /* flex-direction: column; */
    font-size: 14px; 
  }
}
@media (max-width: 640px) {
  .footer-bottom {
    /* flex-direction: column; */
    font-size: 11px;
    flex-wrap: wrap-reverse;
    padding-top: 20px;
  }
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content:space-between;  
}
@media (max-width: 1200px) {
  .footer-logo {
    flex-direction: row;
    height: 174px;
    width: 473px;
  }
}
@media (max-width: 640px) {
  .footer-logo {
    flex-direction: column;
    height: 283px;
    width: 132px;
  }
}

.footer-zoo-logo {
  
}
@media (max-width: 640px) {
  .footer-zoo-logo img{
   width: 60px;
   height: 47px;
  }
}
.logo-row {
  display: flex;
  align-items: center;
  width: 303px;
  justify-content: space-between;
}
@media (max-width: 1918px) {
  .logo-row {
    flex-direction: column;
    height: 176px;
    width: 128px;
  }
}
@media (max-width: 1200px) {
  .logo-row {
    flex-direction: row;
    height: 49px;
    width: 264px;
    
  }
}
@media (max-width: 640px) {
  .logo-row {
    flex-direction: column;
    height: 132px;
    width: 84px;
    
  }
}
.divider {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
}

.yem-logo {

}
@media (max-width: 640px) {
  .yem-logo {
    height: 42px;
    width: 82px;
  }
}
.rss-logo {

}
@media (max-width: 640px) {
  .rss-logo {
    height: 31px;
    width: 84px;
  }
}
.footer-nav {
  padding: 0 170px 0 0;
}
@media (max-width: 1200px) {
  .footer-nav {
    padding: 0 0 0 0;
  }
}
.footer-nav ul{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav-item__head { }
.section-header { }
.footer-nav-item { }
.section_postscription { }
.footer-text {
  width: 353px;
}

@media (max-width: 1918px) {
  .footer-text {
    width: 379px;
  }
}
@media (max-width: 1200px) {
  .footer-text {
    width: 367px;
  }
}
@media (max-width: 640px) {
  .footer-text {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
}
.section-header__footer {

}
.section_postscription__footer {
  margin: 46px 0 40px 0;
}
@media (max-width: 1200px) {
  .section_postscription__footer {
    margin: 30px 0 40px 0;
  }
}
@media (max-width: 640px) {
  .section_postscription__footer {
    margin: 30px 0 30px 0;
  }
}
.btn { }
.btn__black {
  border: 2px solid #FCFCFC;
  padding: 0 75px;
}
@media (max-width: 640px) {
  .btn__black {
    font-size: 14px;
    padding: 0 70px;
  }
}
  


.social-row {
  display: flex;
  margin-top: 75px;
  width: 100%;
  justify-content: space-between;  
}
@media (max-width: 1200px) {
  .social-row {    
    margin-top: 50px;  
  }
}
@media (max-width: 640px) {
  .social-row {    
    margin-top: 37px;
    margin-bottom: 36px;  
  }
}
.footer-social-font{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px; 
  color: #BCBCBC; 
}
.footer-inst {

}
.footer-fb { }
.footer-twit { }
