.how-works {}
.how-works__row {
  display: flex;
  padding: 110px 0;
}
@media (max-width: 1918px) {
  .how-works__row {    
    padding: 100px 0 100px 0;  
  }
}
@media (max-width: 1200px) {
  .how-works__row {    
    padding-top: 60px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 640px) {
  .how-works__row {    
    padding-top: 0px;
    padding-bottom: 58px;    
  }
}
.how-works__img-border {
  width: 512px;
  height: 760px;
  overflow: hidden;
  flex: 0 0 auto;
  position: relative;
  border-radius: 5px;
  margin: 0 224px 0 0;
}
@media (max-width: 1918px) {
  .how-works__img-border {    
    width: 401px;
    height: 585px;
    margin: 0 30px 0 0;
  }
}
@media (max-width: 1200px) {
  .how-works__img-border {    
    width: 390px;
    height: 386px;
    margin: 0 0 0 0;
    order: 2;
    margin-top: 60px;
  }
}
@media (max-width: 640px) {
  .how-works__img-border {    
    width: 297px;
    height: 293px;
    margin: 0 0 0 0;
    order: 1;
    margin-top: 0px;
    margin-bottom: 60px;
  }
}
.how-works__img {
  position: absolute;
  right: -40px;
}
@media (max-width: 1918px) {
  .how-works__img {
    width: 675px;
    right: -40px;
  }
}
@media (max-width: 1200px) {
  .how-works__img {
    width: 509px;
    height: 572px;
    right: -1px;  
    top: -100px;
  }
}
@media (max-width: 640px) {
  .how-works__img {
    width: 509px;
    height: 572px;
    right: -30px;  
    top: -100px;
  }
}
.how-works__text {
  padding: 140px 0 0 0;
}
@media (max-width: 1918px) {
  .how-works__text {
    padding: 57px 0 0 0;
  }
}
@media (max-width: 1200px) {
  .how-works__text {
    padding: 0 0 0 0;
    order: 1;
  }
}

@media (max-width: 1200px) {
  .how-works__text {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .how-works__text {
    padding: 0 0 0 0;
    order: 2;
  }
}
.section_description {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
@media (max-width: 1918px) {
  .section_description {
    font-size: 28px;
  }
}
@media (max-width: 640px) {
  .section_description {
    font-size: 20px;
  }
}
.section_postscription {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;  
  color: #747474;
} 
@media (max-width: 1918px) {
  .section_postscription {
    font-size: 16px;  
  }
}
@media (max-width: 640px) {
  .section_postscription {
    font-size: 14px;  
  }
}
.section-header__how {
  margin: 0 0 50px 0;
}
@media (max-width: 1200px) {
  .section-header__how {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 640px) {
  .section-header__how {
    margin: 0 0 32px 0;
  }
}
.section_description__how {
  margin: 0 0 40px 0;
}
@media (max-width: 1200px) {
  .section_description__how {
    margin: 0 0 30px 0;
  }
}

.section_postscription__how {
  margin: 0 0 60px 0;
}
@media (max-width: 1200px) {
  .section_postscription__how {
    margin: 0 0 40px 0;
  }
}
