
  .animal-container {
    width: 1432px;
    margin: 0 auto;
    /* flex: 0 0 auto; */
  }
  @media (max-width: 1918px) {
    .animal-container {
      width: 1120px;      
      padding: 0 0 0 144px;
    }
  }
  @media (max-width: 1200px) {
    .animal-container {
      width: 640px;    
      padding: 0 20px 0 20px;
    }
  }
  @media (max-width: 640px) {
    .animal-container {
      width: 320px;    
      padding: 10;
    }
  }
  /*------------------------------------ASIDE-------------------------------------*/
.aside-panel {
  width: 90px;
}
.aside__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 675px;  
}
.menu-arrow {
  width: 86px;
  height: 86px;
}
.menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-animals {  
  height: 436px;
  width: 55px;
}
.menu-item img{
  width: 55px;
  height: 55px;
}
.active-aside {
  border-radius: 50%;
  border: 2px solid #609FFF;
}
  /*----------------------MAIN-CAM------------------------------------------------*/
.main-cam {
  padding: 165px 0 40px 0;
}
@media (max-width: 1918px) {
  .main-cam {
    padding: 140px 0 40px 0;
  }
}
@media (max-width: 1200px) {
  .main-cam {
    padding: 143px 0 50px 0;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .main-cam {
    padding: 100px 0 40px 0;
  }
}

.main-cam__grid {
  display: grid;
  grid-template-rows: 109px 490px 441px;
  grid-template-columns: 1064px 552px;
  grid-template-areas:
  "video info"
  "video donate"
  "cams cams";
}
@media (max-width: 1918px) {
  .main-cam__grid {
    grid-template-rows: 59px 247px 392px;
    grid-template-columns: 545px 431px;
  }
}
@media (max-width: 1200px) {
  .main-cam__grid {
    grid-template-rows: 74px 218px 290px;
    grid-template-columns: 390px 210px;
    grid-template-areas:
    "info cams"
    "video cams"
    "donate donate";
  }
}
@media (max-width: 640px) {
  .main-cam__grid {
    grid-template-rows: 64px 168px 238px;
    grid-template-columns: 300px;
    grid-template-areas:
    "info"
    "video"
    "cams"
    "donate";
  }
}

.translation {
  grid-area: video;  
  /* width: 1064px;
  height: 599px; */
  border-radius: 5px;
}
.main-video-size {
  width: 1064px;
  height: 599px;
  border-radius: 5px;
}
@media (max-width: 1918px) {
  .main-video-size {
    width: 545px;
    height: 307px;
  }
}
@media (max-width: 1200px) {
  .main-video-size {
    width: 390px;
    height: 218px;
  }
}
@media (max-width: 640px) {
  .main-video-size {
    width: 300px;
    height: 168px;
  }
}
.animal__info {
  padding: 0 0 0 30px;  
  grid-area: info;  
}
@media (max-width: 1200px) {
  .animal__info {
    padding: 0 0 0 0;  
     
  }
}
.animal__text {
  grid-area: donate;  
  padding: 40px 0 0 30px;
}
@media (max-width: 1918px) {
  .animal__text {
    padding: 20px 0 0 30px;
  }
}
@media (max-width: 1200px) {
  .animal__text {
    padding: 50px 0 0 0;
  }
}
.other-cams {
  grid-area: cams;
  padding: 60px 0 0 0;
}
@media (max-width: 1200px) {
  .other-cams {
    padding: 22px 0 0 30px;
  }
}
@media (max-width: 640px) {
  .other-cams {
    padding: 20px 0 0 0;
  }
}
/*----------------------------------ANIMAL INFO--------------------------*/

.animal-info-container {
  display: flex;
  width: 420px;
  border-bottom: 1px solid #E3E3E3;
  height: 109px;
}
@media (max-width: 1918px) {
  .animal-info-container {    
    width: 401px;
    border-bottom: none;
    height: 59px;
  }
}
@media (max-width: 1200px) {
  .animal-info-container {    
    width: 390px;
    height: 54px;
  }
}
@media (max-width: 640px) {
  .animal-info-container {    
    width: 100%;
    height: 54px;
  }
}
.animal__avatar {
  width: 70px;
  height: 70px;  
}
@media (max-width: 1918px) {
  .animal__avatar {
    width: 54px;
    height: 54px;  
  }
}
@media (max-width: 1918px) {
  .animal__avatar {
    width: 43px;
    height: 43px;  
  }
}
.info__text {
  margin-left: 30px;
}
.translation-place {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}
@media (max-width: 1918px) {
  .translation-place {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 1200px) {
  .translation-place {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 640px) {
  .translation-place {
    font-size: 14px;
    line-height: 17px;
  }
}
.watching-now {
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
  align-items: center;
}
@media (max-width: 1918px) {  
  .watching-now {
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 1200px) {  
  .watching-now {
    font-size: 14px;
    line-height: 22px;
  } 
}
@media (max-width: 640px) {  
  .watching-now {
    font-size: 12px;
    line-height: 19px;
  }
}
/*------------------------------------ANIMAL TEXT----------------------*/
.animal__text {
  width: 430px;
}
@media (max-width: 1918px) {
  .animal__text {
    width: 373px;
  }
}
@media (max-width: 1200px) {
  .animal__text {
    width: 370px;
  }
}
@media (max-width: 640px) {
  .animal__text {
    width: 300px;
  }
}
.animal-description {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 145%;
  color: #080029;  
}
@media (max-width: 1918px) {  
  .animal-description{
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 640px) {  
  .animal-description{
    font-size: 20px;
    line-height: 29px;
  }
}
.animal-postscription {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  margin: 30px 0 40px 0;
}
@media (max-width: 1918px) {  
  .animal-postscription {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
  }
}
@media (max-width: 1200px) {  
  .animal-postscription {  
    margin: 20px 0 30px 0;
  }
}
@media (max-width: 640px) {  
  .animal-postscription {
    font-size: 14px;
    line-height: 22px;
  }  
}
.animal-btn { }
/*-------------------------------------Other CAMS---------------------------------------*/

.other-cam__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
  display: flex;
  align-items: center;
}
@media (max-width: 1918px) {
  .other-cam__title{
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 640px) {
  .other-cam__title{
    font-size: 20px;
    line-height: 29px;
  }
}
.other-cam__title:hover {
  cursor: pointer;
}
.other-cam__title img {
  margin: 0 0 0 12px;
}
.cam-slider {
  display: flex;
  width: 1432px;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}
@media (max-width: 1918px) {
  .cam-slider {    
    width: 832px;    
    margin: 30px 0 0px 0;
  }
}
@media (max-width: 1200px) {
  .cam-slider {
    flex-direction: column;    
    width: 180px;    
    margin: 20px 0 0 0;
    height: 218px;
  }
}
@media (max-width: 640px) {
  .cam-slider {
    flex-direction: row;    
    width: 300px;    
    margin: 23px 0 30px 0;
    height: 80px;
  }
}
/* .other-cam__img {
  width: 328px;
  height: 184px;
} */
/* .other-cam__img:hover {
  cursor: pointer;
} */
.cam-slider__arrows {
  display: flex;
  width: 155px;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 1918px) {
  .cam-slider__arrows {    
    width: 132px;    
  }  
}
@media (max-width: 1200px) {
  .cam-slider__arrows {    
    display: none;   
    margin-top: 0px; 
  }  
}
@media (max-width: 640px) {
  .cam-slider__arrows {    
    display: flex;
  }   
}
.cam-slider__arrow {
  height: 65px;
  width: 65px;
}
@media (max-width: 1918px) {
  .cam-slider__arrow {
    height: 56px;
    width: 56px;
  }
}
.cam-slider__arrow:hover {
  cursor: pointer;
}

.other-cam__video {
  width: 328px;
  height: 184px;  
  position: relative;
}
@media (max-width: 1918px) {  
  .other-cam__video {
    width: 257px;
    height: 144px;
  }
}
@media (max-width: 1200px) {  
  .other-cam__video {
    width: 180px;
    height: 102px;
  }
}
@media (max-width: 640px) {  
  .other-cam__video {
    width: 141px;
    height: 80px;
  }
}
.other-cam__video:hover .other-cam__mask{
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;  
}
.video {
  border-radius: 5px;
  width: 328px; 
  height: 184px; 
}
@media (max-width: 1918px) {
  .video {    
    width: 257px; 
    height: 144px;
  } 
  .other-cam__video:nth-child(4n) {
    display: none;
  }
}

@media (max-width: 1200px) {
  .video {    
    width: 180px; 
    height: 102px; 
  }
  .other-cam__video:nth-child(3n) {
    display: none;
  }
}
@media (max-width: 640px) {
  .video {    
    width: 141px; 
    height: 80px; 
  } 
}
.other-cam__video:hover .video{
  /* opacity: 0.5; */
  filter: blur(3px);  
}
.other-cam__mask {
  opacity: 0;
  z-index: 20;
  top: 0;
  border-radius: 5px;
  position: absolute;
  width: 328px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1918px) {
  .other-cam__mask {    
    width: 257px;
    height: 144px;
  }
}
@media (max-width: 1200px) {
  .other-cam__mask {    
    width: 180px;
    height: 102px;
  }
}
@media (max-width: 640px) {
  .other-cam__mask {    
    width: 131px;
    height: 80px;
  }
}
.mask__on-line {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 145%;
  text-align: center;
  color: #FCFCFC;
  border-bottom: 1px solid #FCFCFC;
}
@media (max-width: 1918px) {  
  .mask__on-line {
    font-size: 20px;
    line-height: 29px;
  }
}
@media (max-width: 1200px) {
  .mask__on-line {
    font-size: 18px;
    line-height: 25px;
}
}
@media (max-width: 640px) {
  .mask__on-line {
    font-size: 16px;
    line-height: 20px;
  }
}
.mask__under-line {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}
@media (max-width: 1918px) {  
  .mask__under-line {
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 1200px) {
  .mask__under-line {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 640px) {
  .mask__under-line {
    font-size: 14px;
    line-height: 17px;
  }
}
/*-------------interesting fact--------------------*/
.interesting-facts {

}
.interesting-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
@media (max-width: 1918px) {
  .interesting-title {
    font-size: 36px;
    line-height: 53px;
  }
}
@media (max-width: 1200px) {
  .interesting-title {
    font-size: 26px;
    line-height: 38px;
  }
}
@media (max-width: 640px) {
  .interesting-title {
    font-size: 20px;
    line-height: 29px;
  }
}
.interesting-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;  
  color: #747474; 
  width: 512px;
  margin: 30px 0 46px 0; 
}
@media (max-width: 1918px) {
  .interesting-subtitle {
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0 60px 0;
  }
}
@media (max-width: 1200px) {
  .interesting-subtitle {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 50px 0;
  }
}
@media (max-width: 640px) {
  .interesting-subtitle {
    font-size: 14px;
    line-height: 22px;
    width: 300px;
  }
}
.facts {
 width: 1432px;
}
@media (max-width: 1918px) {
  .facts {
    width: 976px;
  }
}
@media (max-width: 1200px) {
  .facts {
    width: 600px;
  }
}
@media (max-width: 640px) {
  .facts {
    width: 300px;
  }
}
.facts-block {
 border-bottom: 1px solid #D3D3D3;
 padding: 0 0 25px 0;
}
.species-population {

}

.fact-name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 145%;
  display: flex;
  /* align-items: center; */
  color: #609FFF;
  justify-content: space-between;
}
.fact-name:not(:first-child) {
  margin-top: 20px
}
@media (max-width: 1918px) {
  .fact-name {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (max-width: 1200px) {
  .fact-name {
    font-size: 20px;
    line-height: 29px;
  }
}
@media (max-width: 640px) {  
  .fact-name {
    font-size: 18px;
    line-height: 26px;
  }
}
.fact-switcher {
  width: 22px;
  height: 22px;
  
}

.fact-description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  width: 1381px;
  margin-top: 30px;
}
@media (max-width: 1918px) { 
  .fact-description {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .fact-description {
    font-size: 16px;
    line-height: 24px;
    
  }
}
@media (max-width: 640px) {  
  .fact-description {
    font-size: 14px;
    line-height: 22px;
    
  }
}
/*--------------------------Сворачиванте заметок----------------------*/
/* .fact-switcher:active .rect-vert {
 transform: rotate(90);
}
.fact-switcher:disabled .rect-hor {
  display: none;
} */

